body {
  font-family: 'Raleway', sans-serif;
  color: white;
  background-color: rgb(176, 43, 44);
}

.jumbotron {
  background: url('../img/bg3.png') no-repeat center;
  height: 100%;
  background-size: cover;
}

.banner {
  text-align: center;
  color: white;
  /*vertical-align: middle;*/
  /*margin-top: 30%;*/
}

.skills {
    font-size: 18px !important;
    font-weight: 400;
}

h1 {
  text-align: center;
}

.skills img {
  width: 6rem;
  height: 6rem;
  vertical-align: middle;
}

#name {
  font-weight: 400;
  font-size: 3.6rem !important;
}

#title {
  /*font-weight: 400;*/
  font-size: 2.4rem !important;
}

/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet */
@media (min-width: 550px) {

  body {
    font-family: 'Raleway', sans-serif;
    background-image: url('../img/bg2.png');
    background-size: cover;
    height: 70%;
    background-repeat: no-repeat;
    color: white;
  }

  .banner {
    margin-top: 20%;
    text-align: right;
  }

  #name {
    font-weight: 500;
    font-size: 5.5rem;
  }

}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {


}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}
